* {
  margin: 0;
  padding: 0;
}
.menu-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.main,
.quiz,
.score {
  height: 500px;
  width: 400px;
  background-color: rgb(90, 226, 204);
  margin: 40px auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header p {
  position: absolute;
  right: 10px;
  top: 50px;
}
.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}
/* .main button,
.quiz button,
.score button {
  width: 300px;
  height: 30px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
} */
.main button,
.score button {
  width: 150px;
  height: 30px;
  background-color: rgb(0, 38, 255);
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.quiz button {
  width: 250px;
  height: 30px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.main button:hover,
.score button:hover {
  background-color: #fff;
  color: #000;
}
.quiz button:hover {
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.quiz .btn {
  background-color: blue;
  color: #fff;
}
.quiz .btn:hover {
  background-color: rgb(93, 93, 253);
}
/* h2 {
  position: absolute;
  top: 100px;
}
h3 {
  position: absolute;
  top: 180px;
} */
